body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.centered {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
}

.image-container {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    animation: bobbing 5s infinite ease-in-out;
    transition: filter 0.5s ease, opacity 0.5s ease, background-color 0.5s ease; /* Add background-color transition */
}

.bobbing-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes bobbing {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.enter-button {
    border: 2px solid #7b0000; /* Slightly darker red border */
    background-color: transparent;
    color: #7b0000; /* Slightly darker red text */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.enter-button:hover {
    background-color: #7b0000; /* Slightly darker red on hover for unchecked buttons */
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.enter-button.clicked {
    background-color: #550000; /* Slightly darker red when clicked */
    border-color: #550000; /* Ensure border also matches the clicked color */
    color: #ddd; /* Dimmed text to match background dimming */
}

/* Add transition for unchecked button elements when clicked */
.enter-button:not(.clicked) {
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}

/* Adjust the image appearance when a button is clicked */
.enter-button.clicked + .image-container {
    filter: brightness(0.7); /* Dim the image when a button is clicked */
    transition: filter 0.5s ease; /* Add filter transition */
}

/* Adjust the unchecked button's background when a button is clicked */
.enter-button.clicked ~ .enter-button {
    background-color: transparent; /* Transparent background for unchecked buttons when a button is clicked */
    border-color: #550000; /* Ensure border also matches the clicked color */
    color: #550000; /* Slightly darker text to match background dimming */
}

